{{ template "head" "Campfire Auth" }}
<div class="container">
    <div class="container-header">
        <h1>Campfire Auth</h1>
    </div>

    <div class="section center">
        <p>Looking to log in? Go to <a href="/login" class="button">Login</a></p>
        <br/>
        <p>Looking for documentation? Go to <a href="/api/docs" class="button">Docs</a></p>
    </div>
</div>
{{ template "footer" }}
